@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
    --font-signika: "Signika", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

body{
    background-color: #121212 ;
}